{# Latest blog post from RSS feed #}
{# Context: title (blog post title) #}

{# Wrap title to fit box width (56 - 4 for box borders/padding = 52) #}
{% set wrapped_title = title | wrap(52) %}
{% set blog_lines = ['', '📝 LATEST FROM THE BLOG', ''] %}
{% for line in wrapped_title %}
  {% set blog_lines = blog_lines.concat([line]) %}
{% endfor %}
{% set blog_lines = blog_lines.concat(['', '🔗 williamzujkowski.github.io', '']) %}
{{ blog_lines | roundedbox(56) }}
