{# Latest blog post from RSS feed #}
{# Context: title (blog post title) #}

{% set blog_lines = [
  '',
  '📝 LATEST FROM THE BLOG',
  '',
  title | truncate(50),
  '',
  '🔗 williamzujkowski.github.io',
  ''
] %}
{{ blog_lines | roundedbox(56) }}
