{# Fortune cookie with cowsay output - tux penguin #}
{# No context required - static content #}

 _________________________________________
/ {{ 'Pro Tip:' | fg('yellow') | bold }}                                \
|                                         |
| "There are only two hard things in     |
| Computer Science: cache invalidation,  |
| naming things, and off-by-one errors." |
\                                        /
 -----------------------------------------
   \
    \
        .--.
       |o_o |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/
