{# Goodbye message block #}
{# No context required #}

{% set goodbye_lines = [
  '',
  'Thanks for visiting!',
  '',
  'May your:',
  '  - Code compile without warnings',
  '  - Tests pass on first try',
  '  - Bugs be easily reproducible',
  '  - Coffee stay hot',
  '  - Git conflicts be minimal',
  '',
  'See you in the commits!',
  ''
] %}
{{ goodbye_lines | doublebox(56) }}
