{# Developer profile from /etc/profile - social/connect focus #}
{# Context: stats = { uptime, daysAlive }, timestamp #}

{% set profile_lines = [
  '',
  '👤 WILLIAM ZUJKOWSKI',
  '',
  'GitHub:  github.com/williamzujkowski',
  'Web:     williamzujkowski.github.io',
  'Focus:   Security • DevOps • Cloud',
  'Motto:   "Professionally paranoid."',
  ''
] %}
{{ profile_lines | roundedbox(56) }}
