{# Developer profile from /etc/profile - social/connect focus #}
{# Context: stats = { uptime, daysAlive }, timestamp #}

{% set profile_lines = [
  '',
  '👤 WILLIAM ZUJKOWSKI',
  '',
  'GitHub:  github.com/williamzujkowski',
  'Web:     zujkowski.com',
  'Focus:   Security • DevOps • Cloud',
  'Motto:   "Ship it, but ship it secure!"',
  ''
] %}
{{ profile_lines | roundedbox(56) }}
