{# Developer stats from /proc/developer/stats #}
{# Context: stats = { uptime, coffeeConsumed, bugsFixed, bugsCreated, stackOverflowVisits } #}
{% from "base/macros.njk" import kv_pair, separator %}

Developer Stats (PID: 1000)
============================
{{ kv_pair('Total Uptime', stats.uptime ~ ' years', 22) }}
{{ kv_pair('Coffee Consumed', stats.coffeeConsumed ~ ' cups', 22) }}
{{ kv_pair('Bugs Fixed', stats.bugsFixed, 22) }}
{{ kv_pair('Bugs Created', stats.bugsCreated ~ ' (improving!)', 22) }}
{{ kv_pair('Stack Overflow', stats.stackOverflowVisits ~ ' visits', 22) }}
{{ kv_pair('Dad Jokes Told', 'infinite', 22) }}
{{ kv_pair('Kids Impressed', '0 (work in progress)', 22) }}
